* {
    margin: 0;
    padding: 0;
}

/* shared content */
body {
    font-family: Lato;

}

/* primary color #E55473 */
.btn-primary {
    background-color: #E55473;
    border: 0;
    padding: 20px 43px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;


}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;

}

/* banner section start from here */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    align-items: center;


}

.banner-content {
    display: flex;
    justify-content: space-evenly;
    height: 850px;
    align-items: center;

}

.banner-content-left-part-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.banner-img {
    width: 635px;
    height: 800px;
    margin-bottom: -50px;

}



/* Main part start from here */

/* our-featured-flowers section start from here */
.our-featured-flowers {
    width: 1920px;
    height: 100vh;

}

.our-featured-flowers-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;

}

.our-featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 18px 0;
    margin-bottom: 50px;
}

.our-featured-content-part {
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: auto;

}

.our-featured-content-one,
.our-featured-content-two,
.our-featured-content-three {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.our-featured-content-two {
    background: rgba(5, 151, 160, 0.15);

}

.our-featured-content-three {
    background: rgba(71, 125, 17, 0.15);



}

.our-featured-content-img-one {

    width: 310px;
    height: 428px;
    display: flex;
    margin: auto;
    margin-top: 110px;
}

.our-featured-content-img-two {

    width: 370px;
    height: 370px;
    display: flex;
    margin: 110px auto;
}

.our-featured-content-img-three {

    width: 314px;
    height: 471px;
    flex-shrink: 0;
    display: flex;
    margin: 67px auto;
}

.our-featured-content-img-link,
.our-featured-content-img-link-one {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.our-featured-content-img-link-one {
    margin-top: 50px;
}

/* Hot deal section start from here */
.hotdeal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hotdeal-section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.hotdeal-section-title-design {
    color: #E55473;
}

.hot-deal-seciton-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px;
}

.hotdeal-btn {
    display: flex;
    margin: auto;
    margin-top: 32px;
}

/* instagram section start from here */
.instagrams-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;

}

.instagram-section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 100px;

}

.instagram-img-container {
    width: 1440px;
    height: 320px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 100px; */
    margin: auto;
}

/* get the latest deals start from here */
.get-latest-deal {
    margin-top: 128px;
    /* position: relative; */
}


.get-latest-deal-img {
    width: 1440px;
    height: 449px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;

}

.get-latest-deal-content-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left: 38%;
    top: 30%;
}

.get-latest-deal-content-description {
    position: absolute;
    top: 40%;
    left: 43%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.input-area {
    /* position: absolute;
    top: 60%; */

}

.hot-deal-input {
    width: 40%;
    padding: 25px;
    display: flex;
    border: 0;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 20%;
}

.btn-subscribe {
    position: absolute;
    top: 65%;
    left: 65%;
}

/* contact us start from here */
.contact-form {
    width: 540px;
    height: auto;
    display: flex;
    margin: auto;
    align-items: center;
    border: 1px solid black;
    background-color: #aca9aa;
    border-radius: 10px;
    padding: 20px;

}

form input {
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 10px 10px;
    width: 500px;
    margin-top: 5px;
}

textarea {
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 100px;
    background-color: #E55473;
}

/* footer part start from here */
footer {
    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    margin-top: 50px;
    align-items: center;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

.footer-title-design {
    color: white;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
    align-items: center;

}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;

    font-size: 16px;

    font-weight: 400;

}