* {
    margin: 0;
    padding: 0;
}

/* shared content */
body {
    font-family: Lato;

}

/* primary color #E55473 */
.btn-primary {
    background-color: #E55473;
    border: 0;
    padding: 20px 43px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;


}

/* banner section start from here */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    align-items: center;


}

.banner-content {
    display: flex;
    justify-content: space-evenly;
    height: 850px;
    align-items: center;

}

.banner-content-left-part-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.banner-img {
    width: 635px;
    height: 800px;
    margin-bottom: -50px;

}

.banner-content-left-part-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

/* our-featured-flowers section start from here */
.our-featured-flowers {
    width: 1920px;
    height: 4867px;
    background: #FFF;

}

.our-featured-flowers-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;

}

.our-featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 18px 0;
    margin-bottom: 50px;
}

.our-featured-content-part {
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: auto;

}

.our-featured-content-one,
.our-featured-content-two,
.our-featured-content-three {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.our-featured-content-two {
    background: rgba(5, 151, 160, 0.15);

}

.our-featured-content-three {
    background: rgba(71, 125, 17, 0.15);



}

.our-featured-content-img-one {

    width: 310px;
    height: 428px;
    display: flex;
    margin: auto;
    margin-top: 110px;
}

.our-featured-content-img-two {

    width: 370px;
    height: 370px;
    display: flex;
    margin: 110px auto;
}

.our-featured-content-img-three {

    width: 314px;
    height: 471px;
    flex-shrink: 0;
    display: flex;
    margin: 67px auto;
}

.our-featured-content-img-link,
.our-featured-content-img-link-one {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.our-featured-content-img-link-one {
    margin-top: 50px;
}

/* Hot deal section start from here */